DATABASE_URL="postgresql://mosaic_user:mosaic_password@localhost:5433/mosaic_db?schema=public"
REDIS_URL="redis://localhost:6380"

JWT_ACCESS_SECRET="thisisajwtsecret"
JWT_REFRESH_SECRET="thisisajwtrefreshsecret"
MINIO_ENDPOINT="https://assets.ourmosaic.space"
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=supersecretusername
MINIO_SECRET_KEY=supersecretpassword
MINIO_BUCKET_NAME=mosaic