DATABASE_URL="postgresql://mosaic_user:mosaic_password@localhost:5433/mosaic_db?schema=public"
REDIS_URL="redis://localhost:6380"

JWT_ACCESS_SECRET="thisisajwtsecret"
JWT_REFRESH_SECRET="thisisajwtrefreshsecret"